/*For general setting*/
body {
    width: 1200px;
    margin: auto;
}
p {
    padding: 20px;
}
.container {
    width: 890px;
}

#graphic {
    padding-top: 60px;
}
#sections {
    position: relative;
    display: inline-block;
    width: 250px;
    top: 0px;
    z-index: 90;
    padding-bottom: 20px;
}
.step {
    margin-bottom: 350px;
    font-family: "TiemposTextWeb-Regular","Georgia";
    font-size: 16px;
    line-height: 23px;
    color: #767678;
}
#sections .title {
    font-family: Arial,Helvetica,"san-serif";
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #262626;
    line-height: 1.2em;
}
#extra-space {
    height: 300px;
}
#page_header {
    position: relative;
    margin: 20px;
    z-index: 2;
    width: 600px;
}
#vis {
    display: none;
    position: fixed;
    float: right;
    top: 60px;
    z-index: 1;
    margin-left: 0;
    font-size: 10px;
    padding-left: 20px;
    cursor: pointer;
}
#lineForThree {
    display: none;
    position: fixed;
    float: right;
    top: 60px;
    z-index: 1;
    margin-left: 0;
    font-size: 10px;
    padding-left: 20px;
}
.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

path.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
    stroke-opacity: 80%;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
    line-height: 1em;
}
.line.normal {
    stroke: gray;

}

.line.unfocused{
    stroke-opacity: 10%;
}

.countries path.focused {

    fill: orange;

}

.overlay {
    fill: none;
    pointer-events: all;
}

.countries{
    stroke: #fff;
    stroke-linejoin: round;
}
.subhead {
    margin-top: 10px;
}
.col-md-6{
    position: absolute;
    background-color:white;
    z-index: 1000;
}
p {
    font-size: 14px;
    margin: 10px 0 0 0;
}
.chart {
    min-height: 200;
    min-width: 600;
}

#lineForThree a {
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    margin-right: 3px;
}
#button1{
    background: rgb(31, 119, 180);
}
#button2{
    background: rgb(255, 127, 14);
}
#button3{
    background: rgb(44, 160, 44);
}
.toolTipForThree{
    position: absolute;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
}
#Series1s,#Series2s,#Series3s{
    cursor: pointer;
}